$('.question-error').html('<%= render "shared/errors", resource: question %>');

<% unless question.errors.present? %>
  $('.question .question-title').html('<h1><%= j question.title %></h1>');;
  $('.question .question-body').html('<p><%= j question.body %></p>');
  $('form#edit-question-' + <%= @question.id %>).addClass('hidden');
  $('.edit-question-link').show();
<% end %>
