- if current_user.present?
  div.votes
    div.mb-3
      = link_to custom_polymorphic_vote_path(voteable, action: :like),
                method: :patch,
                class: 'btn btn-outline-success like me-2',
                remote: true,
                data: { type: 'json' } do
        i.bi.bi-hand-thumbs-up

      span.votes-sum.me-2.fs-5(class="#{'text-success' if voteable.votes_sum > 0} #{'text-danger' if voteable.votes_sum < 0}")
        = voteable.votes_sum

      = link_to custom_polymorphic_vote_path(voteable, action: :dislike),
                method: :patch,
                class: 'btn btn-outline-danger dislike me-2',
                remote: true,
                data: { type: 'json' } do
        i.bi.bi-hand-thumbs-down

      - classes = 'btn btn-outline-primary revote me-2'
      - classes += ' hidden' unless voteable.voted_by?(current_user)

      = link_to 'Revote',
                custom_polymorphic_vote_path(voteable, action: :revote),
                method: :patch,
                class: classes,
                remote: true,
                data: { type: 'json' }
